@(topicForm: Form[Topic])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main {

    <h1>Add a topic</h1>

    @form(routes.Application.save()) {

        <fieldset>

            @inputText(topicForm("title"), '_label -> "Topic title")

        </fieldset>

        <div class="actions">
            <input type="submit" value="Create this topic" class="btn primary"> or
            <a href="@routes.Application.list()" class="btn">Cancel</a>
        </div>

    }

}
