@(id: Long, topicForm: Form[Topic])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main {

    <h1>Edit topic</h1>

    @form(routes.Application.update(id)) {

        <fieldset>

            @inputText(topicForm("title"), '_label -> "Topic title")

        </fieldset>

        <div class="actions">
            <input type="submit" value="Save this topic" class="btn primary"> or
            <a href="@routes.Application.list()" class="btn">Cancel</a>
        </div>

    }

    @form(routes.Application.delete(id), 'class -> "topRight") {
        <input type="submit" value="Delete this computer" class="btn danger">
    }

}
